@using Meddelandecentralen.Pages
@inherits MessageServiceBase
@implements IAsyncDisposable

<MessageFilter @bind-chatToggler="_chatToggler" @bind-aoToggler="_aoToggler" />

<BSContainer Container="Container.Fluid" style="display: flex; text-align: center; align-items: center; justify-content: center; flex-direction: column">
    @foreach (var message in messages)
    {
      @if(message.Contains("Arbetsorder"))
      {
        var id = message.Substring(1,36);
        var idf = message.Substring(0,40);
        var messagewithoutid = message.Replace(idf, "");
        string meddelande = messagewithoutid.Split(new string[]{"Meddelande:"}, StringSplitOptions.None).Last();
        var title = messagewithoutid.Replace(meddelande,"").Replace("Meddelande:","");
      <BSCard CardType="CardType.Card" class="aoCard"  style="width: 18rem; background-color: #ADD8E6; margin-bottom: 1rem;">
      <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">@title</BSCard>
        <BSCard CardType="CardType.Text">
          <b>Ärendebeskrivning:</b><br><br/>
          @meddelande
          <br><br />
          <BSModal DataId="modalinvestigate">
            <Header>Under utredning</Header>
            <Content>
              Vill du markera @id som under utredning och tilldela dig till uppgiften?<br><br/>
              Ange ditt namn: <input @bind="caseManager" /><br><br/>
              <p style="color: red">@casemanagerMessage</p
            </Content>
            <Footer Context="modal">
            <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Stäng</BSButton>
            <BSButton Color="BSColor.Warning" @onclick="() => SendInvestigate(id, modal.HideAsync)">Tilldela mig arbetsordern</BSButton>
            </Footer>
            </BSModal>
            @if(!(message.Contains("Under utredning") || message.Contains("Åtgärdad")))
            {
              <BSButton Color="BSColor.Warning" Target="modalinvestigate">Under utredning</BSButton>
            }

          <BSModal DataId="modaldone">
            <Header>Åtgärdad</Header>
            <Content>
              Vill du markera @id som åtgärdad och slutföra arbetsorden?<br><br/>
              Ange ditt namn: <input @bind="caseManager" />
              <p style="color: red">@casemanagerMessage</p>
            </Content>
            <Footer Context="modal">
            <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Stäng</BSButton>
            <BSButton Color="BSColor.Success" @onclick="() => SendDone(id, modal.HideAsync)">Åtgärda arbetsorder</BSButton>
            </Footer>
            </BSModal>
            @if(!message.Contains("Åtgärdad"))
            {
              <BSButton Color="BSColor.Success" Target="modaldone">Åtgärdad</BSButton>
            }
        </BSCard>
      </BSCard>
      </BSCard>     
      }
      else {
        string meddelande = message.Split(new string[]{"Meddelande:"}, StringSplitOptions.None).Last();
        var title = message.Replace(meddelande,"").Replace("Meddelande:","");
        
      <BSCard CardType="CardType.Card" class="chatCard" style="width: 18rem; background-color: #FFFFE0; margin-bottom: 1rem;">
      <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">@title</BSCard>
        <BSCard CardType="CardType.Text">
            @meddelande
        </BSCard>
      </BSCard>
      </BSCard>
      }
    }
</BSContainer>
<style type="text/css">
    .chatCard
    {
      display: @(_chatToggler); 
    }
    .aoCard
    {
      display: @(_aoToggler); 
    }
</style>

@code {
    private string? _aoToggler;
    private string? _chatToggler;
}